/* body {
font-family: Arial, sans-serif;
max-width: 400px;
margin: 40px auto;
}

h2 {
text-align: center;
}


#container {
display: flex;
gap: 10px;
}


#taskInput {
flex: 1;
padding: 8px;
}


#addBtn {
padding: 8px 14px;
cursor: pointer;
}


ul {
margin-top: 20px;
padding: 0;
list-style: none;
}


li {
display: flex;
justify-content: space-between;
align-items: center;
padding: 8px;
background: #f2f2f2;
margin-bottom: 10px;
border-radius: 6px;
}


li.completed {
text-decoration: line-through;
color: gray;
}


.removeBtn {
cursor: pointer;
background: red;
color: white;
border: none;
padding: 4px 8px;
border-radius: 4px;
}  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.container {
    background: white;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-box {
    display: flex;
    gap: 10px;
}

#taskInput {
    flex: 1;
    padding: 10px;
}

#addBtn {
    padding: 10px 20px;
    background: blue;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

ul {
    list-style: none;
    margin-top: 20px;
}

li {
    background: #eaeaea;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Completed Task */
.completed {
    text-decoration: line-through;
    color: gray;
}

.remove-btn {
    background: red;
    border: none;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
}
